<% provide(:title, "About") %>
<h1>Ruby on Rails チュートリアルについて</h1>
<p>
  このサイトは<a href="https://railstutorial.jp/">Ruby on Rails チュートリアル</a>
  を参考に作成されています。
  <a href="https://railstutorial.jp/">Ruby on Rails チュートリアル</a>で 
  Ruby on Rails を使用したWeb開発を学べます。<br>
  <a href="https://railstutorial.jp/#ebook">本はこちら</a>　
  <a href="https://railstutorial.jp/#screencast">スクリーンキャストはこちら</a>
</p>
