<h1>パスワードの再設定</h1>

<p>下のリンクをクリックするとパスワードをリセットします。</p>

<%= link_to "リセットする", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>
  セキュリティ保持のため、このリンクの有効期限は2時間となっております。
  その場合は再度、最初からお手続きをお願い致します。
</p>

<p>
  当ご案内に心当たりのない場合は、本メールは破棄して頂けるようお願いいたします。
  パスワードは今まで通りでご利用いただけます。
</p>